{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{% load custom_tags %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'mongo_collections' %}"> {% trans 'Mongo panel' %}</a>
&rsaquo; <a href="{% url 'collection_objects' collection %}">{{collection}}</a>
&rsaquo; {{original|get:"_id"}}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
<form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>

    {{adminform}}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <input value="Save" class="default" name="_save" type="submit">
        <p class="deletelink-box"><a href="{% url 'delete_object' collection original|get:'_id' %}" class="deletelink">Delete</a></p>
        <!--<input value="Save and add another" name="_addanother" type="submit">-->
        <!--<input value="Save and continue editing" name="_continue" type="submit">-->
    </div>
{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>
{% endblock %}

</div>
</form></div>
{% endblock %}
