{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}
{% load custom_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'mongo_collections' %}"> {% trans 'Mongo panel' %}</a>
&rsaquo; <a href="#">{{collection}}</a>
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
        {# A short copy of 'admin/changelist_results.html' and result_list tag #}
        {% if results %}
          <div class="results">
            <table id="result_list">
              <thead>
                <tr>
                  <th scope="col" class="action-checkbox-column">
                     <div class="text"><span><input id="action-toggle" type="checkbox"></span></div>
                     <div class="clear"></div>
                  </th>
                {% for header in result_headers %}
                  <th scope="col">
                     <div class="text">{{ header}}</div>
                     <div class="clear"></div>
                  </th>
                {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for result in results %}
                <tr class="{% cycle 'row1' 'row2' %}">
                  <th scope="col" class="action-checkbox-column">
                     <div class="text"><span><input id="action-toggle" type="checkbox"></span></div>
                     <div class="clear"></div>
                  </th>
                  <th class="field-id">
                    <a href="{% url 'collection_object' collection result|get:'_id' %}">{{result|get:"_id"}}</a>
                  </th>
                  <th class="field-device">
                    {{result|get:"_device_uuid"}}
                  </th>
                  <th class="field-time">
                    {{result|get:"_insert_time"}}
                  </th>
                  <th class="field-data">
                    <code>
                    {{result}}
                    </code>
                  </th>
                  <!--<th class="field-name">-->
                    <!--<a href="/admin/services/scope/4/change/">{{result.name}}</a>-->
                  <!--</th>-->
                </tr>
                <!--<tr class="{% cycle 'row1' 'row2' %}">-->
                  <!--<th class="field-name">-->
                    <!--<a href="/admin/services/scope/4/change/">Product</a>-->
                  <!--</th>-->
                <!--</tr>-->
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endblock %}
      {% block pagination %}
        <p class="paginator">
        <!--{% if pagination_result.total_pages%}-->

          {% with ''|center:pagination_result.total_pages as range %}
          {% for i in range %}
            {% ifequal forloop.counter pagination_result.current %}
                <span class="this-page">{{pagination_result.current}}</span>
            {% else %}
                <a href="?p={{forloop.counter}}">{{forloop.counter}}</a>
            {% endifequal %}

          {% endfor %}
          {% endwith %}

          {{ pagination_result.total_objects }} objects
          </p>
        <!--{% endif %}-->
      {% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
