{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'mongo_collections' %}"> {% trans 'Mongo panel' %}</a>
{% ifequal services.count 1 %}&rsaquo; <a href="{% url 'service_collections' services.first.slug %}"> {{services.first}} </a>{% endifequal %}
</div>
{% endblock %}

{% block content %}
<!--<p>{% blocktrans with escaped_object=object %}Following users are in selected-->
    <!--{{group_name}}, choose the target to send {{ object_name }} "{{-->
    <!--escaped_object }}":{% endblocktrans %}</p>-->
<h3>Services</h3>
{% for service in services %}
<a href="{% url 'service_collections' service.slug %}"
   style="display: inline-block;vertical-align: middle; line-height: 15px;background: #417690;border-radius: 4px;padding: 10px 15px;	color: #f5dd5d;margin: 0 0 0 10px;}"
   class="button cancel-link">{{service.name}}</a>
{% endfor %}

<h3>Collections</h3>
{% for collection in collections %}
<a href="{% url 'collection_objects' collection %}"
   style="display: inline-block;vertical-align: middle; line-height: 15px;background: #79aec8;border-radius: 4px;padding: 10px 15px;	color: #fff;margin: 0 0 0 10px;}"
   class="button cancel-link">{{collection}}</a>
{% endfor %}
{% endblock %}