<!DOCTYPE html>
<html>

<body>
<script>
    function getAndroidVersion(ua) {
        ua = (ua || navigator.userAgent).toLowerCase();
        var match = ua.match(/android\s([0-9\.]*)/);
        return match ? match[1] : false;
    };
    ua = navigator.userAgent;
    uaParts = (ua || navigator.userAgent).split("(")[1].split(")")[0].split(";")
    var screenSize = Math.floor(screen.width * window.devicePixelRatio) + "x" + Math.floor(screen.height * window.devicePixelRatio);
    var lang = navigator.language;
    var colorDepth = screen.colorDepth;
    var timezoneoffset = new Date().getTimezoneOffset();
    var platform = navigator.platform;
    var donotTrack = navigator.doNotTrack;
    var version = uaParts[1];
    var os = uaParts[0];
    var build = "";
    if (uaParts.length > 2) {
        build = uaParts[2];
    }
    var d = new Date();
    var timestamp = d.toISOString();

    function getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
        //compatibility for firefox and chrome
        var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
        var pc = new myPeerConnection({
                iceServers: []
            }),
            noop = function () {
            },
            localIPs = {},
            ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
            key;

        function iterateIP(ip) {
            if (!localIPs[ip]) onNewIP(ip);
            localIPs[ip] = true;
        }

        //create a bogus data channel
        pc.createDataChannel("");

        // create offer and set local description
        pc.createOffer(function (sdp) {
            sdp.sdp.split('\n').forEach(function (line) {
                if (line.indexOf('candidate') < 0) return;
                line.match(ipRegex).forEach(iterateIP);
            });

            pc.setLocalDescription(sdp, noop, noop);
        }, noop);

        //listen for candidate events
        pc.onicecandidate = function (ice) {
            if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
            ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
        };
    }

    // Usage
    var userIP = "";
    getUserIP(function (ip) {
        userIP = ip;
        var jsonObject = {

            "local_IP": userIP,
            "version": version,
            "os": os,
            "build": build,
            "screen_size": screenSize,
            "language": lang,
            "color_depth": colorDepth,
            "timezone_offset": timezoneoffset,
            "platform": platform,
            "timestamp": timestamp,


            {% if device_uuid %}
                "device_uuid":"{{ device_uuid }}",
            {% endif %}

            {% if package_name %}
                "package_name": "{{ package_name }}",
            {% endif %}

            {% if google_source %}
                "google_source": "{{ google_source }}",
            {% endif %}

        };
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(jsonObject));
    });



    {% if device_uuid == None %}
        window.location = "{{ destination_url }}";
    {% endif %}

</script>
</body>

</html>